name: Dependency Review

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    name: Review Dependencies
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Check out the source code
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5 # v4.1.7

      - name: Review dependencies
        uses: actions/dependency-review-action@40c09b7dc99638e5ddb0bfd91c1673effc064d8a # v4.8.1
        with:
          comment-summary-in-pr: true
