name: Run E2E tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  e2e:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        wordpress: ['6.7', '6.8']
    name: E2E Tests on WordPress ${{ matrix.wordpress }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5 # v4.1.7

      - name: Set up PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        env:
          fail-fast: 'true'

      - name: Install PHP Dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1
  
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          cache: npm

      - name: Install Node.js dependencies
        run: npm ci

      - name: Install Playwright
        run: npx playwright install

      - name: Install Playwright dependencies
        run: sudo -E npx playwright install-deps

      - name: Install VIP CLI
        run: npm install -g @automattic/vip

      - name: Create development environment
        run: vip dev-env create --wordpress ${{ matrix.wordpress }} < /dev/null

      - name: Start development environment
        run: vip dev-env start --slug integration-demo --skip-wp-versions-check

      - name: Update user password
        run: vip dev-env exec -- wp user update vipgo --user_pass=password

      - name: Run E2E tests
        run: npm test
        env:
          E2E_URL: http://integration-demo.vipdev.lndo.site/

      - name: Archive test results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: failure()
        with:
          name: test-results
          path: .playwright
          retention-days: 7
