name: Run E2E tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  e2e:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        wordpress: ['6.7', '6.8']
    name: E2E Tests on WordPress ${{ matrix.wordpress }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.1.7

      - name: Set up PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        env:
          fail-fast: 'true'

      - name: Install PHP Dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1
  
      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          cache: npm

      - name: Install Node.js dependencies
        run: npm ci

      - name: Install Playwright
        run: npx playwright install

      - name: Install Playwright dependencies
        run: sudo -E npx playwright install-deps

      - name: Install VIP CLI
        run: npm install -g @automattic/vip

      - name: Create development environment
        run: vip dev-env create --wordpress ${{ matrix.wordpress }} < /dev/null

      - name: Start development environment
        run: vip dev-env start --slug integration-demo --skip-wp-versions-check

      - name: Update user password
        run: vip dev-env exec -- wp user update vipgo --user_pass=password

      - name: Run E2E tests
        run: npm test
        env:
          E2E_URL: http://integration-demo.vipdev.lndo.site/

      - name: Archive test results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: test-results
          path: .playwright
          retention-days: 7
